<a href="/bicycles">Bicycles Index</a>
<p>Manufacturer: <%= Manufacturer.find(@bicycle.manufacturer_id).name %></p>
  <p>Price: <%= @bicycle.price %></p>
  <p>Has a rack mount?: <%= @bicycle.has_rack_mount %></p>