<form action="/manufacturers" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Add A Manufacturer</h2>
  <label for="name">Manufacturer name:</label>
  <input type='text' name='manufacturer[name]'/><br>
  <label for="year_founded">Year founded:</label>
  <input type="number" name='manufacturer[year_founded]'/> <br>
  <label for="manufactured_in_us?">Manufactured_in_us?:</label>
  <input type='text' name= 'manufacturer[manufactured_in_us?]'/><br>
  <%# <input type="checkbox" name= 'manufacturer[manufactured_in_us?]'  class="inline checkbox" id="checkbox1" value="false"><br> %>
  <input type='submit'/>
</form>