<a href="/manufacturer">Manufacturer Index</a>
<p>Name: <%= @manufacturer.name %></p>
<p>Year founded: <%= @manufacturer.year_founded %></p>
<p>Manufactured in United States <%= @manufacturer.manufactured_in_us? %></p>